.logo {
    height: 1.7rem;
    width: 2.5rem;
    overflow: hidden;
}

.navbar-collapse {
    padding-left: 2rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: white;
}

.dropdown-menu {
    background-color: #3490dc;
    border: none;
}

.dropdown-item {
    color: white;
}
