.order_button {
    background-color:#008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

  .payment-image{
    max-width: 20rem;
    max-height: 30rem;
  }

  #error-message{
    width: 20%;
  }